* {
margin:0;
padding:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

body
{
    margin: 0;
    padding: 0px;
    display: flex;
    min-height: 100vh;
}
    a
    {
        text-decoration: none;
    }

    .footer-main-div
    {
        width: 100%;
        height:auto;
        margin:auto;
        background: #272727;
        padding: 20px 2px;
    }
    .footer-menu-one
    {
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }  

        .footer-menu-one ul
        {
            margin: 0px;
            padding: 0px;
            text-align:center;
        }
            .footer-menu-one ul li
            {
                display: inline-block;
                margin: 0px 20px;
            }
            
            .footer-menu-one ul li a:hover
            {
                text-shadow: 0 0 50px red;
                transition: 0.2ms;
            }

            .text-contact
            {
                font-family: arial;
                font-size: 20px;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
                align-items:initial;
            }

                .footer-menu-one ul li a
                {
                    font-family: arial;
                    font-size: 20px;
                    font-weight: 600;
                    color: #fff;
                    text-transform: uppercase;
                }


                .footer-social-icons
                {
                    width:100%;
                    height:auto;
                    margin:auto;            
                }
        
                    .footer-social-icons ul
                    {
                        margin: 0px 10;
                        padding: 0px;
                    
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
        
                        .footer-social-icons ul li
                        {
                            display:flex;
                            justify-content: center;
                            text-align: center;
                            
                            width:50px;
                            height:50px;
                            margin:0px 10px;
                            border-radius: 100%;
                            background:#32cd32;                                       
                        }
                            .footer-social-icons ul li a
                            {
                                color: #272727;
                                font-size: 25px;
        
                                display:flex;
                                align-items: center;
                                align-content: center;
                            }
        
                            .footer-social-icons ul li a i
                            {
                                line-height: 50px;
                            }
                        
                .footer-social-icons ul li:hover
                {
                    background-color: #ff3399;
                }    
        
                .footer-social-icons ul li:hover a
                {
                    color: #fff;
                }
   /* .instagram{        
        width: 250px;
        height: 250px;
        text-align: center;
        border-radius: 40px;
        color: #fff;
        font-size: 220px;
        line-height: 250px;
        vertical-align: middle;
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        box-shadow: 0px 3px 10px rgba(0,0,0,.25);
        } */
